<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title">Nasa</h3>
    </div>

      <div class="modal-body">

        <div class="nasa">
          <!-- Url de la api -->
          <!-- <b>API URL:</b>
          <pre id="reqObject"></pre> -->

          <img id="apod_img_id" width="250px"/>

          <iframe id="apod_vid_id" type="text/html" width="640" height="385" frameborder="0"></iframe>
          <!-- <p id="copyright"></p> -->

          <h3 id="apod_title"></h3>
          <p id="apod_explaination"></p>
          <br/>
          <!-- Objeto js -->
          <!-- <b>Return Object:</b>
          <pre id="returnObject"></pre> -->
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
     </div>
  </div>
</div>
