<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title">Play</h3>
    </div>

      <div class="modal-body">

        <canvas id="myCanvas" ></canvas>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

     </div>
  </div>
</div>
