// limpiar lista de errores
$("ul.errors").html("")
// si hay errores de validacion
<% if @user.errors.any? %>
  // cada uno de los errores
  <% @user.errors.full_messages.each do |e| %>
  // anexarlos a la lista en la vista parcial
    $(".errors").append("<li> <%= e %> </li>")
  <% end %>
  // si no hay errores
<% else %>
  // mostrar mensajes
  $("#messages").show();
  // ocultar la vista modal de registro
  $("#user-modal").modal("hide")
<% end %>
