<h3>Blog Supuer Secreto</h3>

<p>Si recargas pagina serás deslogeado y volverás a esta página</p>

<%if @errors %>
  <%@errors.each do |e| %>
    <span class="errors"><%=e%></span>    
    <br>
  <%end%>
<%end%>
<br>
<div class="wrap">
  <div class="content">
    <%= button_to "Registrarse", new_user_path,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
  </div>
</div>
<div class="wrap">
  <div class="content">
    <%= button_to "Logearse", log_path ,class: "btn btn-info",:method => :get ,remote: true %>
  </div>
</div>
<div id="user-modal" class="modal fade"></div>
<div id="log-modal" class="modal fade"></div>
