
      <br>
      <div class="wrap">
        <div class="content ">
          <%if @errors %>
          <%@errors.each do |e| %>
          <span class="errors"><%=e%></span>
          <%end%>
          <%end%>
        </div>
      </div>
      <br>
      <div class="wrap">
        <div class="content ">
          <div class="ivan">
            <!-- %=image_tag("cielo.JPG", alt: "no image")%> -->
          </div>
          <%= button_to "Registrarse", new_user_path,class: "btn btn-success",id: "btn_user_new",:method => :get ,remote: true %>
          <br>
          <%= button_to "Logearse", log_path ,class: "btn btn-info",:method => :get ,remote: true %>
          <br>
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>
          <br>
          <br>
          <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
        </div>
      </div>
    </div>

    <div id="user-modal" class="modal fade"></div>
    <div id="log-modal" class="modal fade"></div>
    <script>
    <%= render :partial => 'users/index.js'%>
    </script>
