      <br>
      <div class="wrap">
      </div>
      <div class="wrap">
        <div class="content ">
          <br>
          <div id="messages">
            <%= render 'messages/index'%>
          </div>

      </div>
    </div>
    <!-- vistas modales -->

    <!-- <script>
      %= render :partial => 'users/index.js'%
    </script> -->
