// limpiar lista de errores
$("ul.errors").html("");
// si no hay usuario con esos datos
<% if @user == nil %>
  //anexar en la vista modal el msj:
  $(".errors").append("<p> No usuario con esos datos </p>");
  // si no hay errores
<% else %>
  // mostrar mensajes
  $("#messages").show();
  // ocultar la vista modal de registro
  $("#log-modal").modal("hide");
  // ocultar botones de login y signup y fb
  $("#access").hide();
<% end %>
