@import "bootstrap-sprockets";
@import "bootstrap";

#buttons{
    // background:cornflowerblue;
    width:100%;
    height:200px;
};

// texto de titulos en la tabla
#titles{
  color: ghostwhite;
}

// tabla centrada para que no se desvorde
#tabla_texto{
  width:100px;
}

// en el partial de mensajes ocultamos el botom de prueba para openPay
#btn-openPay{
  display: none;
}

#salir{
  display: none;
  // height: 10em;
  // width: 5em;
  margin: 2em 5em;
  // background: url(chango.svg) no-repeat top left;
  // background-color: rgb(32, 124, 124);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;
  // background-size: cover;
  float: right;
  a {
    color: greenyellow;
  }
}
// estilo para el formulario para buscar mensajes
.form-search{
    margin: 0 auto;
    text-align: center;
    font: bold 13px sans-serif;
    // medida del contenedor para el forulario, más chico se divide en dos renglones, "estoy buscando" y "buscar"
    max-width: 460px;
    position: relative;

    input{
        width: 230px;
        box-sizing: border-box;
        border-bottom-left-radius: 2px;
        border-top-left-radius: 2px;
        background-color:  #ffffff;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        padding: 14px 15px 14px 40px;
        border: 1px solid #b6c3cd;;
        border-right: 0;
        color:#4c94cb;
        outline: none;
        -webkit-appearance: none;
    };

    .button{
        border-bottom-right-radius: 2px;
        border-top-right-radius: 2px;
        background-color:  #6caee0;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
        color: #ffffff;
        padding: 15px 22px;
        margin-left: -4px;
        cursor: pointer;
        border: none;
        outline: none;
    };

    i{
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 16px;
        color: #80A3BD;
    }

    /* Placeholder color */

    input::-webkit-input-placeholder {
        color:  #879097;
    }

    input::-moz-placeholder {
        color:  #879097;
        opacity: 1;
    }

    input:-ms-input-placeholder {
        color:  #879097;
    }
}

.fb-like{
  text-align: center;
}

#rob{
  color: tomato;
  font-family: "Lucida Console", Monaco, monospace;
}
// la clase arriba permite realizar la animaciòn en espiral, en su ausencia , la animación sucede con movimentos en el eje horizontal
.arriba{
  height: 100px;
  opacity: .7;
}

.registro {
  position: relative;
  left: -10px;
  // DESCOMENTAR para hacer correr la animacion
  // opacity: 0.01,
}

.gif{
  // descomentar para mostrar imagen
    // display: none;
    position: relative;
    // width: 100px;
    // height: 100px;
    padding: 3em;
}


body{
  // puente2.png es mas delgado
  // background-image: image-url("puente2.png");
  // para usar en CHANGO
  // background-image: asset-url("chango.svg");
  // background: url(chango.svg);
  background-color: rgb(22, 29, 32);

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  // para usar el CHANGO como fondo de pantalla, comentar las siguientes dos lìneas
  background-size: cover;
  // background-size: contain; //para usar el CIELO como fondo usar este

}

.par{
  background-color: mediumseagreen;
 }
 .inpar{
  background-color: royalblue;
 }

 .titulo{
   background-color: yellowgreen;
 }

 .texto{
  background-color: cadetblue;
 }

 .tag{
  background-color: blueviolet;
 }

 .autor{
  background-color: tomato;
 }

 #modal-tabla{
   background-color: teal;
 }



/* mixins, variables, etc. */
//
.errors{
  background-color: greenyellow;
  color: darkred;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.wrap {
    float: left;
    position: relative;
    left: 50%;
}

.content {
    float: left;
    position: relative;
    left: -50%;
    text-align: center;
    // padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
    -moz-flex-basis: 60%;
    -webkit-flex-basis: 60%;
    -ms-flex-basis: 60%;
    flex-basis: 60%;
    margin-bottom: 1.5rem;
}

textarea {
  resize: vertical;
  resize: horizontal;
}
