@import "bootstrap-sprockets";
@import "bootstrap";

.par{
  background-color: mediumseagreen;
}
.inpar{
  background-color: royalblue;
}

.titulo{
  background-color: yellowgreen;
}

.texto{
  background-color: cadetblue;
}

.tag{
  background-color: blueviolet;
}

.autor{
  background-color: tomato;
}




#modal-tabla{
  background-color: teal;
}



/* mixins, variables, etc. */
//
.errors{
  background-color: greenyellow;
  color: darkred;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#btn_user_new{

}

.wrap {
    float: left;
    position: relative;
    left: 50%;
}

.content {
    float: left;
    position: relative;
    left: -50%;
    text-align: center;
    //
    // h1 {
    //   margin-bottom: 10px;
    // }
    background-color: cadetblue;

}

textarea {
  resize: vertical;
  resize: horizontal;
}


// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   // width: 100%;
//   margin-bottom: 15px;
//   @include box_sizing;
// }
//
// input {
//   height: auto !important;
// }
